/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.edu-tas-beginner-<uniquifier> {
  font-family: "Edu TAS Beginner", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.sometype-mono-<uniquifier> {
  font-family: "Sometype Mono", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* DEBUG */
[class*="container"] {
    background-color: rgb(244, 155, 155);
    /* height: 1500px; */
    border: 1px dashed black;
  }
[class*="row"] {
    background-color: rgb(171, 226, 171);
    /* height: 800px; */
    border: 1px dashed black;

  }
[class*="col"] {
    background-color: lightblue;
    /* height: 50px; */
    border: 1px dashed black;

}

/* Header */
header{
    /* background-image: ; */
    
}
.titolo{
    font-family: "Edu TAS Beginner", serif;
    font-weight:bold;
    font-size: 60px;
    margin: 20px 0;
}

/* main */

#box-cards{
    display: flex;
    justify-content: space-evenly;
}
.container-card{
    margin:0 10px;
}

/* card */
.card {
    border-radius: 0;
    margin: 10px;
}
.card img {
    margin: 10px auto;
    width: 90%;
}
.card-body{
    text-align: start;
}

.card-date{
    font-family: "Sometype Mono", serif;
    color: #acadac;
    font-size: 15px;
}

.card-title{
    font-family: "Edu TAS Beginner", serif;
    font-weight: bold;
    font-size: 25px;
}


